In [11]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [ ]:
###/* Q10: Produce a list of facilities with a total revenue less than 1000.
###The output of facility name and total revenue, sorted by revenue. Remember
###that there's a different cost for guests and members! */

In [14]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
            SELECT f.name, SUM(CASE
                                        WHEN memid=0 THEN guestcost * slots
                                        ELSE membercost * slots
                                        END) AS revenue
                FROM BOOKINGS AS b
                INNER JOIN FACILITIES as f
                ON b.facid = f.facid
                GROUP BY f.name
                HAVING SUM(CASE
                            WHEN memid=0 THEN guestcost * slots
                            ELSE membercost * slots
                            END) < 1000
                ORDER BY revenue
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

if __name__ =='__main__': main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [ ]:
###/* Q11: Produce a report of members and who recommended them in alphabetic surname,
###firstname order */

In [28]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT m1.memid, m1.surname, m1.firstname, m2.recommender, m1.joindate
        FROM MEMBERS as m1
        INNER JOIN
                (SELECT memid, (firstname || ' ' || surname) as recommender
                 FROM MEMBERS 
                 WHERE memid>0) as m2
        ON m1.recommendedby= m2.memid
        ORDER BY m1.surname, m1.firstname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

if __name__ =='__main__': main()

2.6.0
2. Query all tasks
(15, 'Bader', 'Florence', 'Ponder Stibbons', '2012-08-10 17:52:03')
(12, 'Baker', 'Anne', 'Ponder Stibbons', '2012-08-10 14:23:22')
(16, 'Baker', 'Timothy', 'Jemima Farrell', '2012-08-15 10:34:25')
(8, 'Boothe', 'Tim', 'Tim Rownam', '2012-07-25 16:02:35')
(5, 'Butters', 'Gerald', 'Darren Smith', '2012-07-09 10:44:09')
(22, 'Coplin', 'Joan', 'Timothy Baker', '2012-08-29 08:32:41')
(36, 'Crumpet', 'Erica', 'Tracy Smith', '2012-09-22 08:36:38')
(7, 'Dare', 'Nancy', 'Janice Joplette', '2012-07-25 08:59:12')
(20, 'Genting', 'Matthew', 'Gerald Butters', '2012-08-19 14:55:55')
(35, 'Hunt', 'John', 'Millicent Purview', '2012-09-19 11:32:45')
(11, 'Jones', 'David', 'Janice Joplette', '2012-08-06 16:32:55')
(26, 'Jones', 'Douglas', 'David Jones', '2012-09-02 18:43:05')
(4, 'Joplette', 'Janice', 'Darren Smith', '2012-07-03 10:25:05')
(21, 'Mackenzie', 'Anna', 'Darren Smith', '2012-08-26 09:32:05')
(10, 'Owen', 'Charles', 'Darren Smith', '2012-08-03 19:42:37')
(17, 'Pinker', 'David', 'Jemima Farrell', '2012-08-16 11:32:47')
(30, 'Purview', 'Millicent', 'Tracy Smith', '2012-09-18 19:04:01')
(27, 'Rumney', 'Henrietta', 'Matthew Genting', '2012-09-05 08:42:35')
(24, 'Sarwin', 'Ramnaresh', 'Florence Bader', '2012-09-01 08:44:42')
(14, 'Smith', 'Jack', 'Darren Smith', '2012-08-10 16:22:05')
(9, 'Stibbons', 'Ponder', 'Burton Tracy', '2012-07-25 17:09:05')
(29, 'Worthington-Smyth', 'Henry', 'Tracy Smith', '2012-09-17 12:27:15')

In [ ]:
###/* Q12: Find the facilities with their usage by member, but not guests */

In [29]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT f.name, SUM(b.slots *2) as hours_used
        FROM BOOKINGS as b
        LEFT JOIN FACILITIES as f 
        ON f.facid = b.facid
        WHERE b.memid != 0
        GROUP BY f.name
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

if __name__ =='__main__': main()

2.6.0
2. Query all tasks
('Badminton Court', 2172)
('Massage Room 1', 1768)
('Massage Room 2', 108)
('Pool Table', 1712)
('Snooker Table', 1720)
('Squash Court', 836)
('Table Tennis', 1588)
('Tennis Court 1', 1914)
('Tennis Court 2', 1764)

In [ ]:
### /* Q13: Find the facilities usage by month, but not guests */

In [34]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT strftime('%m', b.starttime ) AS month, f.name,  SUM(b.slots *2) as hours_used
        FROM BOOKINGS as b
        LEFT JOIN FACILITIES AS f
        ON f.facid = b.facid
        WHERE memid != 0
        GROUP BY month, f.name
        
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

if __name__ =='__main__': main()

2.6.0
2. Query all tasks
('07', 'Badminton Court', 330)
('07', 'Massage Room 1', 332)
('07', 'Massage Room 2', 16)
('07', 'Pool Table', 220)
('07', 'Snooker Table', 280)
('07', 'Squash Court', 100)
('07', 'Table Tennis', 196)
('07', 'Tennis Court 1', 402)
('07', 'Tennis Court 2', 246)
('08', 'Badminton Court', 828)
('08', 'Massage Room 1', 632)
('08', 'Massage Room 2', 36)
('08', 'Pool Table', 606)
('08', 'Snooker Table', 632)
('08', 'Squash Court', 368)
('08', 'Table Tennis', 592)
('08', 'Tennis Court 1', 678)
('08', 'Tennis Court 2', 690)
('09', 'Badminton Court', 1014)
('09', 'Massage Room 1', 804)
('09', 'Massage Room 2', 56)
('09', 'Pool Table', 886)
('09', 'Snooker Table', 808)
('09', 'Squash Court', 368)
('09', 'Table Tennis', 800)
('09', 'Tennis Court 1', 834)
('09', 'Tennis Court 2', 828)